@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

* {
    font-family: 'Gugi', cursive !important;
  }

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.v3 {
    width: 50vw;
    margin-top: 15px;
}

.result {
    width: 100vw !important;
    text-align: center;
    font-size: 20px;
}

::selection {
    background-color: rgba(256, 256, 0, 0.3) !important;
}

#winner {
    animation: show 1s;
}

@keyframes show {
    from {
        font-size: calc(1.5rem + 4vw);
    }
}